<footer>
  <p>Sponsored @ NeST Didital</p>
  <p>Owned and created @Mugesh Kannan</p>

  <p>Copyright © 2021 Mugesh Kannan V . Creative Commons License This work is
    licensed under a Creative Commons Attribution-ShareAlike 3.0 India License.</p>
</footer>