<html>
  <link rel="stylesheet" href="./css/styles.css" />
  <head>
    <title>about</title>
    <body>
      <div class="main-content">
      {{>header}}
      <p>This site was created by Mugesh Kannan V .It uses data from weatherstack.com.</p>
      <img class="potrait" src="/img/mugi.jpg" />
      
      </div>
      {{>footer}}
    </body>
  </head>
</html>