<html>
  <link rel="stylesheet" href="./css/styles.css" />
  <head>
    <title>about</title>
    <body>
      <div class="main-content">
      {{>header}}
      <img class="potrait" src="/img/mugi.jpg" />
      <h3>Created by {{name}}</h3>
      </div>>
      {{>footer}}
    </body>
  </head>
</html>