<html>
  <link rel="stylesheet" href="./css/styles.css" />
  <head>
    <title>help</title>
    <body>
      <div class="main-content">
      {{>header}}
      <h5>For Any kind of help contact us</h5>
      <h5>E-mail Us:{{EMail}}</h5>
      <h5>Contacy Us:{{contact}}</h5>
      </div>
      {{>footer}}
    </body>
  </head>
</html>